.player-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 300px;
  height: 60px;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.5);
  background: #000;
  z-index: 2000;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

iframe {
  width: 100%;
  height: 240px;
  margin-top: -155px;
  pointer-events: auto;
}